<footer>
    <p class="klamfotter ">

        Birdmilk’s success story started in 2002 and in a short period of time succeeded in becoming one of the top creative agencies in the Middle East and GCC with a strong background in advertising and experts who lead. We’re specialized in creating strategic
        plans and executing it effectively as we handle everything from scratch, starting from branding to implementing creative campaigns and digital marketing that enhance the promoting of your brand.
        <div style="display: block; margin-bottom: 10px; font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-decoration: none; text-align: center;"><a style="text-decoration: none;color: rgb(255, 255, 255);" target="_blank" href="https://facebook.com/ahmedmohameddahees">developed by <div style="color:yellow; display: inline-block;">Ahmed Dahees</div> </a></div>
    </p>
</footer>