<!--for screen smaller than 700px-->
<div class="top2">
    <a href="/"> <img class="logo1" src="/1.png"></a>
    <img class="panelicon" id="panelicon" src="/panelIcon.png">
</div>
<div id="top1" style="display: none;">
    <a class="links1" href="#">PORTFOLIO
        </a>
    <a class="links1" href="/input">add new thing
        </a>
    <a class="links1" href="/contact">CONTACT’S

        </a>

</div>
<!--for screen more than 700px-->

<div class="top">
    <a href="/"> <img class="logo" src="/1.png"></a>
    <a class="links" href="#down">PORTFOLIO
        </a>
    <a class="links" href="/input">add new thing
        </a>
    <a class="links" href="/contact">CONTACT’S

        </a>
</div>