#text,
#textarea,
#file {
    display: block;
    border-radius: 5px 5px;
    background-color: beige;
    margin: 15px;
    width: 400px;
}

#text {
    height: 40px;
}

form {
    width: fit-content;
    margin: auto;
}

#click {
    background: maroon;
    border: none;
    left: 40%;
    color: white;
    position: relative;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
}